#esquerda {
  width: 25rem;
  position: absolute;
  top: 10rem;
  left: 2rem;
}

#direita {
  width: 25rem;
  position: absolute;
  top: 10rem;
  right: 2rem;
}

/* 1500PX */
@media (max-width: 93.75rem) {
  #esquerda {
    left: 1rem;
    top: 14rem;
  }
  #esquerda img {
    max-width: 90%;
  }

  #direita img {
    max-width: 55%;
  }

  #direita {
    right: 1rem;
    top: 14rem;
  }
}

/* 1350PX */
@media (max-width: 84.35rem) {
  #esquerda {
    left: 0.5rem;
    top: 16rem;
  }
  #esquerda img {
    max-width: 80%;
  }

  #direita img {
    max-width: 45%;
  }

  #direita {
    right: 0.5rem;
    top: 16rem;
  }
}

/* 1250PX */
@media (max-width: 78.125rem) {
  #esquerda {
    left: 0.5rem;
    top: 17rem;
  }
  #esquerda img {
    max-width: 70%;
  }

  #direita img {
    max-width: 40%;
  }

  #direita {
    right: 0.5rem;
    top: 17rem;
  }
}

/* 1200PX */
@media (max-width: 75rem) {
  #esquerda {
    left: 0.5rem;
    top: 18.5rem;
  }
  #esquerda img {
    max-width: 60%;
  }

  #direita img {
    max-width: 35%;
  }

  #direita {
    right: 0.5rem;
    top: 18.5rem;
  }
}

/* 1000PX */
@media (max-width: 62.5rem) {
  #esquerda {
    display: none;
  }

  #direita {
    display: none;
  }
}
