/* global.css */

@import url("./header.css");
@import url("./jogo&simbolos.css");
@import url("./scoreboard.css");
@import url("./mensagem.css");
@import url("./escolherPersonagem.css");

@font-face {
  font-family: "MyHero";
  src: url("../fontes/FuturaDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#global-container {
  max-width: 60rem;
  margin: 0 auto;
}

/* HIDE*/
.hide {
  display: none !important;
}

:root {
  --fonte-principal: "MyHero", Arial, sans-serif;
}
