#scoreboard-container {
  font-family: "MyHero";
  margin: 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  padding-top: 1rem;
}

#personagem_pontos {
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.score-box {
  display: flex;
  align-items: center;
}

.score-box span img {
  max-width: 5rem;
}

#x-scoreboard img,
#bola-scoreboard img {
  max-width: 5rem;
  height: auto;
  margin-right: -0.5rem;
  margin-top: 0.5rem;
}

#scoreboard-1,
#scoreboard-2 {
  font-size: 2.5rem;
  width: 2rem;
  text-align: center;
}
